# BTT S2DW V1.0 Accelerometer Configuration

[mcu btt_lis2dw]
# TODO: Update this path with your unique serial ID
# Find it by running: ls /dev/serial/by-id/
serial: /dev/serial/by-id/usb-Klipper_rp2040_504434041040241C-if00

[lis2dw]
cs_pin: btt_lis2dw:gpio9
spi_software_sclk_pin: btt_lis2dw:gpio10
spi_software_mosi_pin: btt_lis2dw:gpio11
spi_software_miso_pin: btt_lis2dw:gpio8
# Only uncomment one of the next lines at a time, based on the toolhead to which your accelerometer is mounted
# axes_map: z, y, x # Uncomment this line to test T0 and y axis
# axes_map: -z, -y, x # Uncomment this line to test T1 and y axis


[resonance_tester]
accel_chip: lis2dw
probe_points:
    178, 102, 20  # Center of your bed. Update this for the J1 bed center coordinates.
