########################################
# LOGGING
########################################

[gcode_macro DBG_LOG]
gcode:
    RESPOND PREFIX="-- " MSG="{params.MSG}"

[gcode_macro IMP_LOG]
gcode:
    RESPOND PREFIX="!! " MSG="{params.MSG}"

########################################
# HOMING FLAG
# Used to ignore G1 Z commands injected by Orca before homing is completed
########################################

[gcode_macro _HOMED]
variable_ready: 0
gcode:
    # no-op

########################################
# G1 OVERRIDE
# Blocks Z movements if homing has not yet been performed
########################################

[gcode_macro G1]
rename_existing: G1.1
gcode:
    {% if params.Z is defined and printer["gcode_macro _HOMED"].ready == 0 %}
        DBG_LOG MSG="G1 Z blocked — homing not performed"
    {% else %}
        G1.1 {rawparams}
    {% endif %}

[gcode_macro DEBUG_EXTRUDER]
gcode:
  {% set gce = printer.gcode_move.gcode_position.e %}
  {action_respond_info("gcode_position.e: %.2f" % gce)}

[gcode_macro SAVE_Z_OFFSET]
description: Save current Z offset for the active toolhead to variables.cfg
gcode:
    {% set current_z_offset = printer.gcode_move.homing_origin.z %}
    {% set active_tool = printer.toolhead.extruder %}

    {% if active_tool == 'extruder' %}
        SAVE_VARIABLE VARIABLE=z_offset_t0 VALUE={current_z_offset}
        SET_GCODE_VARIABLE MACRO=Z_OFFSET VARIABLE=t0 VALUE={current_z_offset}
        RESPOND PREFIX="!! " MSG="Z-Offset T0 saved: {current_z_offset}"
        M117 T0 Z-Offset saved: {current_z_offset}
    {% elif active_tool == 'extruder1' %}
        SAVE_VARIABLE VARIABLE=z_offset_t1 VALUE={current_z_offset}
        SET_GCODE_VARIABLE MACRO=Z_OFFSET VARIABLE=t1 VALUE={current_z_offset}
        RESPOND PREFIX="!! " MSG="Z-Offset T1 saved: {current_z_offset}"
        M117 T1 Z-Offset saved: {current_z_offset}
    {% else %}
        RESPOND PREFIX="!! " MSG="SAVE_Z_OFFSET: unknown extruder '{active_tool}', aborting"
    {% endif %}
