########################################
# LOGGING
########################################

[gcode_macro DBG_LOG]
gcode:
    RESPOND PREFIX="-- " MSG="{params.MSG}"

[gcode_macro IMP_LOG]
gcode:
    RESPOND PREFIX="!! " MSG="{params.MSG}"

########################################
# HOMING FLAG
# Used to ignore G1 Z commands injected by Orca before homing is completed
########################################

[gcode_macro _HOMED]
variable_ready: 0
gcode:
    # no-op

########################################
# G1 OVERRIDE
# Blocks Z movements if homing has not yet been performed
########################################

[gcode_macro G1]
rename_existing: G1.1
gcode:
    {% if params.Z is defined and printer["gcode_macro _HOMED"].ready == 0 %}
        DBG_LOG MSG="G1 Z blocked — homing not performed"
    {% else %}
        G1.1 {rawparams}
    {% endif %}

[gcode_macro DEBUG_EXTRUDER]
gcode:
  {% set gce = printer.gcode_move.gcode_position.e %}
  {action_respond_info("gcode_position.e: %.2f" % gce)}