########################################
# LOGGING
########################################

[gcode_macro INFO_LOG]
gcode:
    # Triggers KlipperScreen's .message_popup_echo class (Blue)
    RESPOND TYPE=echo MSG="{params.MSG}"

[gcode_macro WARN_LOG]
gcode:
    # Triggers KlipperScreen's .message_popup_warning class (Yellow)
    RESPOND TYPE=command MSG="// warning: {params.MSG}"

[gcode_macro ERROR_LOG]
gcode:
    # Triggers KlipperScreen's .message_popup_error class (Red)
    RESPOND TYPE=error MSG="{params.MSG}"

########################################
# HOMING FLAG
# Used to ignore G1 Z commands injected by Orca before homing is completed
########################################

[gcode_macro _HOMED]
variable_ready: 0
gcode:
    # no-op

########################################
# G1 OVERRIDE
# Blocks Z movements if homing has not yet been performed
########################################

[gcode_macro G1]
rename_existing: G1.1
gcode:
    {% if params.Z is defined and printer["gcode_macro _HOMED"].ready == 0 %}
        WARN_LOG MSG="G1 Z blocked — homing not performed"
    {% else %}
        G1.1 {rawparams}
    {% endif %}

[gcode_macro DEBUG_EXTRUDER]
gcode:
  {% set gce = printer.gcode_move.gcode_position.e %}
  {action_respond_info("gcode_position.e: %.2f" % gce)}

[gcode_macro SAVE_Z_OFFSET]
description: Save current babystepping Z offset to variables.cfg as manual_z_offset (shared by T0 and T1)
gcode:
    {% set current_z_offset = printer.gcode_move.homing_origin.z %}
    SAVE_VARIABLE VARIABLE=manual_z_offset VALUE={current_z_offset}
    INFO_LOG MSG="Z-Offset saved: {current_z_offset}"
    M117 Z-Offset saved: {current_z_offset}
